@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Inconsolata', monospace;
  color: white;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background {
  /* z-index: 0; */
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    90% 70% at 64% 65%,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 15, 15, 1) 50%,
    rgba(102, 102, 102, 1) 100%
  );
  transform: rotate(-30deg);
}
/*
.super-improved {
  background: radial-gradient(
    50% 50% at 64% 50%,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 15, 15, 1) 50%,
    rgba(102, 102, 102, 1) 100%
  );
  width: 100%;
  min-width: 1280px;
  height: 832px;
  position: relative;
}

.super-improved .rectangle {
  width: 1280px;
  height: 832px;
  background: radial-gradient(
    50% 50% at 64% 51%,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 15, 15, 1) 50%,
    rgba(102, 102, 102, 1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
}

.super-improved .guitar {
  position: absolute;
  width: 102.86%;
  height: 67.60%;
  top: 9.54%;
  left: 0;
}

.super-improved .signal {
  position: absolute;
  width: 67.12%;
  height: 18.87%;
  top: 74.04%;
  left: 31.95%;
}

.super-improved .freq-plot {
  position: absolute;
  top: 20px;
  left: 938px;
  width: 305px;
  height: 252px;
}

.super-improved .dial-down-only {
  position: absolute;
  top: 33px;
  left: 506px;
  width: 306px;
  height: 58px;
}

.super-improved .div {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 269px;
  height: 66px;
  background-color: #343434;
  border-radius: 42px;
  border: none;
  box-shadow: inset 0px 0px 23.3px #000000b2;
}

.super-improved .div::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  border-radius: 42px;
  background: radial-gradient(
    50% 50% at 72% 49%,
    rgba(255, 255, 255, 1) 0%,
    rgba(36, 36, 36, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.super-improved .rectangle-2 {
  width: 261px;
  height: 58px;
  border-radius: 42px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.super-improved .rectangle-2::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  border-radius: 42px;
  background: radial-gradient(
    50% 50% at 72% 49%,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.43) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.super-improved .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 261px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 21.4px #e7790061;
  font-family: "Inconsolata-ExtraBold", Helvetica;
  font-weight: 800;
  color: #e7a85d;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.super-improved .vector {
  position: absolute;
  top: -1px;
  left: 284px;
  width: 22px;
  height: 21px;
}

.super-improved .img {
  position: absolute;
  top: 30px;
  left: 277px;
  width: 36px;
  height: 35px;
} */
