@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Inconsolata', monospace;
  color: white;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background {
  /* z-index: 0; */
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    90% 70% at 64% 65%,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 15, 15, 1) 50%,
    rgba(102, 102, 102, 1) 100%
  );
  transform: rotate(-30deg);
}

#frequency-plot {
  font-family: 'Inconsolata', monospace;
}

#frequency-plot svg {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
}

#waveform-plot {
  font-family: 'Inconsolata', monospace;
}

#waveform-plot svg {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
}